{% extends 'base.html' %}

{% block content %}
<div class="container-sm border pt-2 pb-2">
<h1>
    About Me
</h1>
    <div class="container pt-2 pb-2">
    <body>
    Hi there! My name is Liam, I'm glad you're reading this. To start, my "official" handle is Wgelyjr, <br>
    my full name smashed together, kind of. I was born in '96, so you can do the math to see how old <br>
    I am... As of 2022, I work as a laboratory technical manager, doing all kinds of things - back - <br>
    end development, troubleshooting laboratory equipment, manning the "help desk". I like to think of <br>
    myself as a one-man IT department, which might be a bit of an oversell. <br>
    <br>
    I wrote and deployed this website myself, using Flask, BootStrap5, and SQLAlchemy. I'm currently working <br>
    on a web application for work, and figured getting a blog up and running would be a fun project to <br>
    serve myself with. Too much time was spent learning on the work application, which has led to <br>
    three or four painful refactors as I've learned something new, so here we are! <br>
    <br>
    My github handle is the same as the one plastered all over this website, and my email is the same @gmail. <br>
    If you're reading this, I'd love to hear from you! Maybe with a job offer? ;) <br>
    - Liam
    </body>
    </div>
</div>

{% endblock %}